.hrefs{
 display: flex;
 justify-content: space-around;
 list-style: none;
 border-radius: 10% / 50%;
 height: 15vh;
 width: 100vw;
 font-size: 3em;
 padding-top: 7vh;
}

.favs{
 background-color: lightgrey;
 border-radius: 10% / 50%;
 display: flex;
 justify-content: space-around;
 margin: 0;
 padding: 0;
 list-style: none;
}

#in,#ph,#en,#fb{
 padding-top: 10vh;
 color: blue;
 font-size: 5em;
}

#logo{
background-color: #41cbf2;
height: 25vh;
width: 35vw;
border-radius: 10px 100px / 120px;;
padding-left: 3%;
padding-right: 3%;
}
.bar{
 display: flex;
 justify-content: space-around;
 list-style: none;
 background-image: url("img/pitabackground.png");
 height: 11vh;
 width: 75vw;
 margin-left: 10vw;
 border-radius: 10px 100px / 120px;;

}

#contact, #calender, #menu{
 font-size: 2.3em;
 font-weight: bolder;
 color: black;
}
body{
 background-image: url("img/Santorini.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: scroll;
}
/*
.fampic{
 width: 33vw;
 height: 13vh;
 list-style: none;
}
.chickpic{
 margin-left: 45vw;
 width: 13vw;
 height: 13vh;
 list-style: none;
}

#cont,#chi{
 font-size: 2.3em;
 color: white;

}
.fammeal{

} */
